@model LearnerProject.Models.Entities.Message

<div class="col-lg-7 mr-auto order-1" data-aos="fade-up" data-aos-delay="200" id="contact">
    <form action="SendMessage" method="post">
        <div class="row">
            <div class="col-6 mb-3">
                <input type="text" class="form-control" name="NameSurname" placeholder="Adınız Soyadınız">
            </div>
            <div class="col-6 mb-3">
                <input type="email" class="form-control" name="Email" placeholder="Email">
            </div>
            <div class="col-12 mb-3">
                <input type="text" class="form-control" name="Subject" placeholder="Konu">
            </div>
            <div class="col-12 mb-3">
                <textarea cols="30" rows="7" name="MessageContent" class="form-control" placeholder="Mesaj İçeriği"></textarea>
            </div>

            <div class="col-12">
                <input type="submit" value="Mesajı Gönder" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
